<section class="funding-acknowledgements">
  <h2 class="no_anchor">Funding Acknowledgements</h2>
  <div class="funding-logos">
    <div class="funding-logo">
      <img src="{{ '/assets/images/onr.png' | relative_url }}" alt="Office of Naval Research" />
    </div>
    <div class="funding-logo">
      <img src="{{ '/assets/images/nsf.png' | relative_url }}" alt="National Science Foundation" />
    </div>
    <div class="funding-logo">
      <img src="{{ '/assets/images/darpa.png' | relative_url }}" alt="Defense Advanced Research Projects Agency" />
    </div>
    <div class="funding-logo">
      <img src="{{ '/assets/images/google.jpeg' | relative_url }}" alt="Google Research" />
    </div>
  </div>
</section>