<center>
  <h1>
    Learning Deep Low-Dimensional Models from High-Dimensional Data: From Theory
    to Practice
  </h1>

  <h3 style="color: #44434d"><b>ICCV 2025 Tutorial</b></h3>
  <h3 style="color: #44434d">
    <b>Date:</b> TBD (full day tutorial)
  </h3>
  <h3 style="color: #44434d"><b>Location:</b> TBD</h3>

  <div class="svg-container">
    <!-- Embedding SVG image with <img> tag -->
    <img
      src="{{ '/assets/representation.svg' | relative_url }}"
      alt="Representation Learning SVG Image"
      style="display: block; height: 200px"
    />
  </div>
</center>
